<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="controllers/uploads/icons8-video-64.ico" type="image/png">
    <link rel="stylesheet" href="adminAdd.css">
    <title>Add Course Page</title>
</head>
<body>
    <div class="container">  
        <form id="contact" action="/addCourse" method="post">
          <h3>Add Form</h3>
          <label>Course Name</label>
          <fieldset>
            <input placeholder="Enter course name ..." name="course_name" type="text" tabindex="1" required autofocus>
          </fieldset>
          <label>Date</label>
          <fieldset>
            <input placeholder="Enter date : mm/dd/yyyy 00:00:00" name="course_date" type="text" tabindex="2" required>
          </fieldset>
          <label>URL Video</label>
          <fieldset>
            <input placeholder="Enter url video ..." name="course_url" type="text" tabindex="3" required>
          </fieldset>
          <label>URL Image</label>
          <fieldset>
            <input placeholder="Enter url image ..." name="course_img" type="text" tabindex="4" required>
          </fieldset>
          <label>Description</label>
          <fieldset>
            <input placeholder="Enter course description ..." name="course_des" type="text" tabindex="5" required autofocus>
          </fieldset>
          <label>Course likes</label>
          <fieldset>
            <input value="0" name="course_like" type="number" tabindex="6" required>
          </fieldset>
          <label>Topic</label>
          <fieldset>
            <select name="category">
                <% for(let i=0; i < data.length; i++) { %>      
                    <option value="<%= data[i]._id%>"><%= data[i].cate_name%></option>
                <% } %>    
            </select>
          </fieldset>
          <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Add</button>
          </fieldset>
          <p class="copyright">Designed by <a href="https://colorlib.com" target="_blank" title="Colorlib">- Team2 -</a></p>
        </form>
      </div>
</body>
</html>