<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>Register Form</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <h1>Register</h1>
            
            <form class="form">
                <input type="text" placeholder="Username" name="log_name" required />
                <input type="password" placeholder="Password" name="pass" required />
                <input type="text" placeholder="Display name" name="username" required />
                <input type="text" placeholder="Email" name="email" required />
                <div class="custom-file">
                    <input type="file" class="custom-file__input" id="field-upload" name="avatar" required>
                    <label class="custom-file__label" for="field-upload">Choose Avatar</label>
                </div>
                <ul>
                    <li><button id="register-button" type="button">Register</button></li>
                </ul>
            </form>
        </div>
        
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <script>
        $("#register-button").click(function(event){
            event.preventDefault();
   
            $('form').fadeOut(500);
            $('.wrapper').addClass('form-success');
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
</body>
</html>

<script type="text/javascript">
    $(function () {
        $('input[type="text"]').change(function () {
            this.value = $.trim(this.value);
        });
    });
    $(function () {
        $('#register').click(function (e) {
            const formData = new FormData();
            formData.append('log_name', $('input[name=log_name]').val());
            formData.append('avatar', $('input[type=file]')[0].files[0]);
            formData.append('pass', $('input[name=pass]').val());
            formData.append('username', $('input[name=username]').val());
            formData.append('email', $('input[name=email]').val());
                $.ajax({
                    type: 'POST',
                    data: formData,
                    url: '/register',
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if (data == true) {
                            swal({
                                title: "Good job!",
                                text: "You clicked the button!",
                                icon: "success",
                                button: "Aww yiss!",
                            }).then(function () {
                                location.href = "/login";
                            });

                        } else {
                            swal("Oh noes!", "The AJAX request failed!", "error");
                        }
                    },
                });
        });
    });
</script>